<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerMapper">

	<resultMap type="Member" id="memberResultSet">
		<id property="id" column="ID"/>
		<result property="name" column="NAME"/>
		<result property="nickname" column="NICKNAME"/>
		<result property="pwd" column="PWD"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="birthday" column="BIRTHDAY"/>
		<result property="address" column="ADDRESS"/>
		<result property="main_no" column="MAIN_NO"/>
		<result property="original_file" column="ORIGINAL_FILE"/>
		<result property="rename_file" column="RENAME_FILE"/>
		<result property="join_date" column="JOIN_DATE"/>
		<result property="chat_yn" column="CHAT_YN"/>
		<result property="out_yn" column="OUT_YN"/>
	</resultMap>
	
	<resultMap type="Report" id="reportResultSet">
		<id property="rpNo" column="RP_NO"/>
		<result property="id" column="ID"/>
		<result property="rpDate" column="RP_DATE"/>
		<result property="rpCon" column="RP_CON"/>
		<result property="rpResult" column="RP_RESULT"/>
		<result property="rpRDate" column="RP_RDATE"/>
		<result property="rpCount" column="RP_COUNT"/>
	</resultMap>

	<select id="getMemberCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE OUT_YN='N'
			AND ID LIKE '%'||#{id}||'%'
			AND ID!='admin'	
	</select>
	
	<select id="selectMList" parameterType="string" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE OUT_YN='N'
			AND ID LIKE '%'||#{id}||'%'
			AND ID!='admin'
	</select>
	
	<select id="getReportCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM REPORT
		WHERE ID LIKE '%'||#{id}||'%'
			AND ID!='admin'	
	</select>
	
	<select id="selectRList" parameterType="string" resultMap="reportResultSet">
		SELECT RP_NO, ID, RP_DATE, RP_CON,  RPR_CON "RP_RESULT", RP_RDATE, RP_COUNT
		FROM REPORT R
		JOIN REPORT_RESULT RR ON(R.RPR_NO=RR.RPR_NO)
		WHERE ID LIKE '%'||#{id}||'%'
			AND ID!='admin'
	</select>
	
</mapper>
