<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- Null일떄 Null 표시 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.finalProject.member.model.vo.Member" alias="Member"/>
		
		<typeAlias type="com.kh.finalProject.Diet.model.vo.Inbody" alias="Inbody"/> 
		<typeAlias type="com.kh.finalProject.Diet.model.vo.diet" alias="Diet"/>
		
		<typeAlias type="com.kh.finalProject.plan.model.vo.Menstrual" alias="Menstrual"/>		<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.plan.model.vo.McRecord" alias="McRecord"/>			<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.plan.model.vo.McOvulation" alias="McOvulation"/>	<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.plan.model.vo.Timetable" alias="Timetable"/>		<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.plan.model.vo.DTodolist" alias="DTodolist"/>		<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.plan.model.vo.MPlan" alias="MPlan"/>				<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.plan.model.vo.MTodolist" alias="MTodolist"/>		<!-- 예지 -->
		
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupTable" alias="GroupTable"/>
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupPlan" alias="GroupPlan"/>
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupSearchName" alias="GroupSearchName"/>
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupMember" alias="GroupMember"/>
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupInfo" alias="GroupInfo"/>
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupNotice" alias="GroupNotice"/>
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupBoard" alias="GroupBoard"/>
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupBoardPhoto" alias="GroupBoardPhoto"/>
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupLike" alias="GroupLike"/>
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupReply" alias="GroupReply"/>
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupReReply" alias="GroupReReply"/>
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupVote" alias="GroupVote"/>
		<typeAlias type="com.kh.finalProject.group.model.vo.GroupAccount" alias="GroupAccount"/>

		<typeAlias type="com.kh.finalProject.daily.model.vo.Habit" alias="Habit"/>
		<typeAlias type="com.kh.finalProject.daily.model.vo.HabitRecord" alias="HabitRecord"/>
		<typeAlias type="com.kh.finalProject.daily.model.vo.HabitSum" alias="HabitSum"/>

		<typeAlias type="com.kh.finalProject.account.model.vo.AccountBook" alias="AccountBook"/>			<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.account.model.vo.Sum" alias="Sum"/>							<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.account.model.vo.Condition" alias="Condition"/>				<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.account.model.vo.MonthlySum" alias="MonthlySum"/>				<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.account.model.vo.MSumCondition" alias="MSumCondition"/>		<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.account.model.vo.ExpCategory" alias="ExpCategory"/>			<!-- 예지 -->

		<typeAlias type="com.kh.finalProject.chat.model.vo.Chat" alias="Chat"/>
		<typeAlias type="com.kh.finalProject.chat.model.vo.openChat" alias="openChat"/>
		
		<typeAlias type="com.kh.finalProject.memo.model.vo.Memo" alias="Memo"/>	<!-- 예지 -->
		
		<typeAlias type="com.kh.finalProject.manager.model.vo.Report" alias="Report"/>			<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.manager.model.vo.RPageInfo" alias="RPageInfo"/>	<!-- 예지 -->
		
		<typeAlias type="com.kh.finalProject.daily.model.vo.Bookmark" alias="Bookmark"/>
	</typeAliases>

	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/diet-mapper.xml"/>
		<mapper resource="/mappers/plan-mapper.xml"/>		<!-- 예지 -->
		<mapper resource="/mappers/group-mapper.xml"/>
		<mapper resource="/mappers/daily-mapper.xml"/>
		<mapper resource="/mappers/chat-mapper.xml"/>
		<mapper resource="/mappers/account-mapper.xml"/>	<!-- 예지 -->
		<mapper resource="/mappers/memo-mapper.xml"/>		<!-- 예지 -->
		<mapper resource="/mappers/manager-mapper.xml"/>	<!-- 예지 -->
	</mappers>
	
</configuration>