<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- Null일떄 Null 표시 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.finalProject.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.finalProject.plan.model.vo.McRecord" alias="McRecord"/>	<!-- 예지 -->
		<typeAlias type="com.kh.finalProject.plan.model.vo.Menstrual" alias="Menstrual"/><!-- 예지 -->
	</typeAliases>

	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/plan-mapper.xml"/>	<!-- 예지 -->
	</mappers>
	
</configuration>
